In [9]:
import pandas as pd
import xgboost as xgb

In [10]:
import numpy as np

###Loading the training data

In [11]:
mydata = pd.read_csv('/users/masters/Downloads/train.csv')

In [12]:
mydata.shape

(76020, 371)

In [13]:
mydata.apply(lambda x: np.sum(x.isnull()))[mydata.apply(lambda x: np.sum(x.isnull()))!=0]

Series([], dtype: int64)

Wow!! We dont have any missing values

In [14]:
mydata.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [15]:
test = pd.read_csv('/users/masters/Downloads/test.csv')

In [16]:
test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [17]:
# remove constant columns
colsToRemove = []
for col in mydata.columns:
    if mydata[col].std() == 0:
        colsToRemove.append(col)

mydata.drop(colsToRemove, axis=1, inplace=True)
test.drop(colsToRemove, axis=1, inplace=True)

In [18]:
mydata.shape

(76020, 337)

In [19]:
# remove duplicate columns
colsToRemove_dupe = []
columns = mydata.columns
for i in range(len(columns)-1):
    v = mydata[columns[i]].values
    for j in range(i+1,len(columns)):
        if np.array_equal(v,mydata[columns[j]].values):
            colsToRemove_dupe.append(columns[j])
mydata.drop(colsToRemove_dupe, axis=1, inplace=True)
test.drop(colsToRemove_dupe, axis=1, inplace=True)

In [21]:
print mydata.shape
print test.shape

(76020, 308)
(75818, 307)

In [23]:
trainLables = mydata['TARGET']
trainFeatures = mydata.drop(['ID','TARGET'],axis=1)

In [25]:
from sklearn.cross_validation import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(trainFeatures, trainLables, test_size=0.33, random_state=42)

In [ ]:
dtrain = xgb.DMatrix(, label=label, missing = -999.0)

In [19]:
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.calibration import CalibratedClassifierCV

clf2 = xgb(n_estimators=500, learning_rate=.1,
                                  max_depth=4, random_state=531)
calibrated_clf = CalibratedClassifierCV(clf2, method='isotonic', cv=5)
calibrated_clf.fit(X[col],y)
y_pred2 = calibrated_clf.predict_proba(test[col])
sub = pd.DataFrame({'ID':ID,'TARGET':y_pred2[:,1]})
sub.to_csv('/users/masters/Downloads/sub_gbm_cali.csv')

CalibratedClassifierCV(base_estimator=GradientBoostingClassifier(init=None, learning_rate=0.1, loss='deviance',
              max_depth=4, max_features=None, max_leaf_nodes=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=500,
              presort='auto', random_state=531, subsample=1.0, verbose=0,
              warm_start=False),
            cv=5, method='isotonic')